/* custom media queries */

@media all and (max-width: 1200px){
  
  #header-wrapper header.header{
    padding: 0 1em 0 22px;

    .header__logo {
      margin-right: 2em;
    }
  }

}

@media all and (max-width: 999px) {

  form#views-exposed-form-rti-indexed-search-page {

    #edit-search-text-wrapper {
      width: 400px;
    }

  }

  #nav-wrapper {
    margin-bottom: 0;
      #navigation {
        background-color: #3169a2;
        width: 100%;
        padding-left: 160px;
        padding-right: 0;

        ul {
          background: rgb(49, 105, 162);
          display: block;
        }

      }

  }

  .page-resources-parents #nav-wrapper,
  .page-rti-search #nav-wrapper {
    
    #navigation {
      padding-left: 0;
    }

  }

  .page-resources-parents,
  .page-rti-search {

    .region-sidebar-first {
      padding: 1em 1em 1px;
      background: rgba(255,255,255,.8);
    }

  }

}

@media all and (min-width: 320px) and (max-width: 730px) {

  #header-wrapper header#header {

    .header__logo {
      width: 100%;
      margin-bottom: 2em;
    }

    .header-region-search-form {
      margin: 0 auto;
      float: none;
      margin-bottom: 2em;
    }

    #block-views-exp-rti-indexed-search-page {
      margin-top: 0;
      float: none;
      display: block;
      clear: left;

      form#views-exposed-form-rti-indexed-search-page {

        .views-widget {
          text-align: right;
          background-color: transparent;
          
          input#edit-search-text {
            text-align: left;
          }

        }

      }

    }

  }

  .node-type-resource {

    .resource-image {

      img {
        margin: 0 1em 1em 0
      }

    }

    .node-fields-wrapper {
      margin-left: 0;

      ul li {
        list-style-position: inside;
        margin-bottom: 1em;
      }

    }

  }

}

@media all and (min-width: 320px) and (max-width: 630px) {
  
  form#views-exposed-form-rti-indexed-search-page #edit-search-text-wrapper, #views-exposed-form-rti-indexed-search-page #edit-search-text--2-wrapper {
      width: 260px;
      display: inline-block;
      vertical-align: top;
      margin-top: 0;
  }

}
