/* -header styles- */

/* very top university... bar */
.ut-brand-wrapper{
	height:26px;
	background-color:#0E4985;
	.ut-brand{
		max-width:1177px;
		margin:0 auto;
		padding-left: 18px;
		padding-right: 10px;
		 text-align: right;
		img{
			width: 320px;
			height: auto;
			vertical-align: middle;
			padding-left: 7px;
		}
	}
}
#header-wrapper{
	width:100%;
	background-color:#e6e6e6;
	header.header{
		max-width: 1200px;
		margin: 0 auto;
		.header__logo {
			margin: 22px 0;
            img{
                width:130px;
                height:auto;
            }
		}
		.header-region-search-form{
			float: right;
			margin: 2em 0 2em 0;			
		}
	}
}

.header__region {
  clear: none !important;
  #block-views-exp-rti-indexed-search-page{
	display: inline-block;
	float: right;
	margin-top: 2em;
  }
}




