/* presentation content type full node */

/* documents resource content type - full nodes */

.node-type-presentation{
	// change this field name below
	.field-name-field-presentation-resource-file{
		.file {
			a{
				&:after{
					content: "Get Presentation";
				}
			}
		}
		.file-size{
			display:block;
			font-size:0.8em;
		}
	}
}





