/* booklet resource content type - full nodes */


.node-booklet,.node-type-documents,.node-type-external-links-websites,.node-type-podcast,.node-type-webinar,.node-type-presentation,.node-type-video-resource,.node-type-module-resource,.node-type-resource-page{
	.type-image-wrapper{
		float:left;
		width:145px;
		text-align: center;
		.field-name-field-resource-type .field-item{
			display: inline-block;
			padding: 1px 6px;
			font-size: 0.7em;
		}
		div:nth-child(2){
			text-align:center;
			img{
				width:120px;
				height:auto;
			}
		}
	}
	.node-fields-wrapper{
		margin-left:160px;
	
	// change below
	
		.file a,.field-name-field-module-link a,.field-name-field-podcast-link a,.field-name-field-podcast-captivate-link a,.field-name-field-webinar-link a,.field-name-field-external-resource-link a{
			text-indent:-100000px;
			padding:12px;
			line-height:1em;
			display: inline-block;
			position:relative;
			outline:0;
			&:after{
				position: absolute;
				color: #fff;
				white-space: nowrap;
				background-color: #3169a2;
				top: 0;
				left: 0;
				font-size: 0.75em;
				line-height:1em;
				text-transform: uppercase;
				padding: 1em 1em 0.85em;
				text-indent: 0;
				width: auto;
				content: "Get Resource";
			}
		}
		.file a:hover:after,.file a:focus:after,.field-name-field-module-link a:hover:after,.field-name-field-module-link a:focus:after,.field-name-field-podcast-link a:hover:after,.field-name-field-podcast-link a:focus:after,.field-name-field-webinar-link a:hover:after,.field-name-field-webinar-link a:focus:after,.field-name-field-external-resource-link a:hover:after,.field-name-field-external-resource-link a:focus:after{
			background-color:$darkgray;
			color:#fff;
		}
	}
	.field-label-inline .field-label, .field-label-inline .field-items {
    	display: inline;
    	float:none;
	}
	.field-name-field-free-tags{
		margin-top:1em;
		padding-bottom: 1.6em;
		.field-label-inline .field-label{
			//float:none;
		}
		.field-label{
			font-size: 0.85em;
			margin-top: 1px;
			margin-right: 8px;
		}
		.field-item{
			display:inline;
			a{
				text-decoration:none;
				font-weight: normal;
				font-size: 0.85em;
				padding-right:1em;
				color:$darkgray;
				&:hover,&:focus{
					text-decoration:underline;
				}
			}
		} 
		&:after{
			clear:none;
		}
	}
}
/* prepend "tags" before tag term name*/
.section-tags #page-title:before{
	content:"Tag: ";
}
	/* full node category terms */
	.section-resource-subcategories #page-title:before{
		content:"Category: ";
	}
	.field-name-field-resource-subcategory{
		margin-top:1.4em;
	    line-height:1.2em;
	    &:after{
	    	display:inline-block;
	    }
		.field-label{
			font-size: 0.85em;
			margin-top: 1px;
			margin-right: 8px;		
		}
		.field-item{
			display:inline-block;
			a{
				font-size: 0.85em;
				text-decoration:none;
				margin-top: 1px;	
				color:$darkgray;
				font-weight:normal;
				padding-right: 1em;
				&:hover,&:focus{
					text-decoration:underline;
				}
			}	
		}
	}
	.clearfix:after{
		//content:"";
	} 
	/* Related Resources */
	.field-name-field-other-resources{
	    margin-top:0;
	    padding: 1em;
	    border: 1px solid #CCC;
	    background-color:rgba(238, 238, 238, 0.75);
		.field-label{
			font-size: 1em;
			margin-top: 1px;
			margin-bottom: 1em;
			text-align:center;
		}
		.node-teaser{
			padding:0;
			margin-left:1em;
			margin-bottom: 1em;
			h2{
				font-size: 0.95em;
				clear:left;
				a{
					color:#000;
					text-decoration:underline;
					&:hover,&:focus{
						text-decoration: none;
					}
				}
			}
			.type-image-wrapper{
				float: left;
				width: 105px;
				text-align: center;
				img{
					width:60px !important;
					height:auto;
				}
			}
			h2.node-title{
				clear:none;
				line-height: 1.6em;
			}
			.node-fields-wrapper{
				margin-left:110px;
				p{
					margin-top: 0;
					margin-bottom:0;
					font-size: 0.85em;
				}
			}
			.node-readmore{
				display:none;
			}
		}
		.node-teaser:after{
			margin-bottom: 0;
		}
		&:after{
			clear:both;
			display:table;
			content:"";
		}
	}
	.field-name-field-other-resources > .field-items > .field-item:last-child .node-teaser{
		margin-bottom:0;
	}
// }





