// taxonomy resources pages
.page-taxonomy-term{
	#main #content article:first-of-type{
		border-top:none !important;
	}
	article{
		border-top: 1px solid #999999;
		padding: 1em 0 1.5em;
		display: table;
		content: "";
		height: 0;
		width: 100%;
		.type-image-wrapper{
			margin-top: 0;
			width: 110px;
			float: left;
			.field-name-field-resource-type{
				display: inline-block;
				padding: 1px 6px;
				font-size: 0.7em;
				width: 100px;
				text-align: center;				
			}
			.resource-image{
				text-align: center;
				img{
					width: 60px;
					height: auto;
				}
			}
		}
		.node-fields-wrapper{
			margin-left: 145px;
			h3.node-title{
				margin-bottom: 0.4em;
				margin-top: 0;
				display: block;
				line-height: 1.2em;
				a{
					color: #333;
					text-decoration: none;
				}
			}
			.field-name-field-summary{
				margin-bottom: 1em;
			}
			.get-resource-btn{
				a{
					text-indent: -100000px;
					padding: 12px 0 0;
					line-height: 1em;
					display: inline-block;
					position: relative;
					outline: 0;
					&:after{
						position: absolute;
						color: white;
						white-space: nowrap;
						background-color: #3169a2;
						top: 0;
						left: 0;
						font-size: 0.75em;
						line-height: 1em;
						text-transform: uppercase;
						padding: 1em 1em 0.85em;
						text-indent: 0;
						width: auto;
						content: "Get Resource";
					}
				}
			}
		}
	}
	a.feed-icon{
		display:none;
	}
}

