/* styling for views */
.view-rti-indexed-search,
.view-rti-parents,
.view-rti-featured-items{
	.view-content{
		h3 span.rank-name{
			text-align:center;
			color: #3169a2;
			width:100%;
			display:inline-block;
		}
		.views-row{
			border-top: 1px solid rgb(153, 153, 153);
			padding: 1em 0 1.5em;
			display: table;
			content: "";
			height: 0;
			width: 100%;
			&:first-child{
				border-top:none;
			}
		}
		.views-row-1{
			border-top:none;
		}
	}

	.view-empty {
		border: 3px solid $orange;
	    width: 49%;
	    padding: 0 2em;
	    margin: 2em auto;
	    text-align: center;

	    p {
	    	color: $orange;
	    	margin: .5em 0;
    		font-size: 1.3em;
	    }
	}
}

// search form in the rti search view
#views-exposed-form-rti-indexed-search-page{
	.views-exposed-widgets{
		text-align:center;
	}
	#edit-search-text-wrapper,
	#edit-search-text--2-wrapper{
		width: 450px;
		display: inline-block;
		vertical-align: top;
		margin-top: 0;
		label{
	   position: absolute;
	   top: -9999px;
	   left: -9999px;
		}
		.views-widget{
			display: inline-block;
			border: none;
			font-size:1em;
			input{
				width: 100%;
				font-size: 1.6em;
				height: 50px;
				vertical-align: middle;
				border: 1px solid $niceblue;
			}
		}
	}
	.views-submit-button {
	    display: inline-block;
	    vertical-align: top;
	    width:148px;
	    margin-left: -5px;
	    margin-top: 0;
	    input{
		    width: auto;
		    margin-top: 0;
		    background-color: $niceblue;
		    color: #fff;
		    border: none;
		    text-transform: uppercase;
		    font-family: "Open Sans", sans-serif;
		    font-weight: 400;
		    border-radius: 0 4px 4px 0;
			font-size: 1.4em;
			height: 50px;

			&:hover,
			&:focus {
				background-color: $darkblue;
			}
		}
	}

}

	input.form-text, input.form-submit {
	    width: 80%;
	    height: 3em;
	    border:none;
	}

form input{
    padding: 0 0.5em;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    -ms-border: none;
}

/* put icon labels on resources for the view, but also the full node display */
.resource-type-thumb-wrapper{
	margin-top:0;
	width:110px;
	float:left;
	.resource-type{
		display: inline-block;
		padding: 1px 6px;
		font-size: 0.7em;
		width: 100px;
		text-align: center;
	}
	.resource-thumb{
		text-align:center;
		img{
			width:60px;
			height:auto;
		}
	}
}

.resource-list-text{
	margin-left:145px;
	h3.resource-title{
		margin-bottom:0.4em;
		margin-top:0;
		display:block;
		line-height: 1.2em;
		a{
			color:$darkgray;
			text-decoration:none;
		}
	}
	.resource-summary,.resource-summary p{
		margin-top:0;
		margin-bottom:1em;
	}
	.get-resource-btn{
		a{
			text-decoration: none;
			padding: .5em;
			border: 1px solid #164D84;
			background-color: $niceblue;
			color: #fff;
			text-shadow: none;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 0.75em;
			display: inline-block;
			&:hover,&:focus{
				background-color:$darkgray;
			}
		}
	}
}
.views-exposed-form {
	.views-submit-button{
		display:none;
	}
	.views-exposed-widgets{
		text-align:center;
	}
	.views-exposed-widget{
		padding:0;
		width: 250px;
		margin: 0 auto;
		margin-top: 1em;
		float:none;
		font-size:0.8em;
		.views-widget{
			display:none;
			width: 100%;
			background-color: rgba(255,255,255,0.5);
			border-left:1px solid #666;
			border-right:1px solid #666;
			border-bottom:1px solid #666;
		}
	#edit-submit-resources-dynamic-filtered-pages{
		display:none;
	}
	.form-item{
		a{
			color: $darkgray;
			line-height: 1.2em;
			display: block;
			text-align: center;
			text-decoration: none;
			padding: 2px 1em;
			border-top: 1px solid #666;
			&:hover,&:focus{
				background-color:#e6e6e6;
			}
		}
		#edit-type-1-all a{
			border-top:none;
		}
	}
		.form-item-edit-type-all a:first-child{
			border:none;
		}
		label{
			font-weight:normal;
			width: 100%;
			display:inline-block;
			cursor:pointer;
			border:1px solid #666;
			padding:0;
			background-color: #e6e6e6;
			font-weight: bold;
			text-shadow:none;
		}
	}
}


/* events */
.view-rti-events{
	margin-top: 1em;
	.views-row{
		margin-bottom: 1em;
		border-bottom: 1px solid #333;
		.views-field-title{
			a{
				color:$darkgray;
				font-size: 1.17em;
				text-decoration:none;
				margin-bottom: 0.4em;
				margin-top: 0px;
				display: block;
				line-height: 1.2em;
				font-family:$opensans;
				font-weight: 600;
			}
		}
		span.date-display-single, .date-display-range {
			font-size: 0.8em;
		}
		.views-field-body p{
			margin-top:6px;
			a{
				color:$darkgray;
				border-bottom: 1px solid #333;
				font-weight:600;
				text-decoration:none;
				font-style: italic;
				&:after{
					content:" \00bb";
				}
				&:hover,&:focus{
					border:none;
				}
			}
		}
	}
	.views-row-last{
		border-bottom:none;
	}
}
